@import "variables";

/* Utils */
.block {
  display: block;
}

.flex {
  display: flex;
}

.flexRow {
  flex-direction: row;
}

.flexColumn {
  flex-direction: column;
}

.alignItemsCenter {
  align-items: center;
}

.justifyContentEnd {
  justify-content: flex-end;
}

.justifyContentCenter {
  justify-content: center;
}

.textJustify {
  text-align: justify;
}

@media (min-width: 768px) {
  .mdBlock {
    display: block;
  }

  .mdFlex {
    display: flex;
  }

  .flexMdRow {
    flex-direction: row;
  }

  .flexMdColumn {
    flex-direction: column;
  }

  .alignItemsMdCenter {
    align-items: center;
  }

  .mdJustifyContentEnd {
    justify-content: flex-end;
  }

  .mdJustifyContentCenter {
    justify-content: center;
  }
}

/* End of Utils */

.inner {
  width: 100%;
  max-width: $inner-width;
  margin-left: auto;
  margin-right: auto;
}

.outer {
  width: 100%;
  max-width: $outer-width;
  margin-left: auto;
  margin-right: auto;
}

section {
  &:not(.hero) {
    margin-bottom: 2.5rem;
  }

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
  }

  .content {
    font-size: 1rem;
  }
}

.header {
  width: 100%;
  border-bottom: 1px solid var(--header-border);

  .outer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0.5rem 1rem;
  }

  .themeBtnCtn {
    display: flex;
    align-items: center;

    a {
      display: flex;
    }

    .themeBtn {
      cursor: pointer;
      width: 1.5rem;
      height: 1.5rem;

      &:first-child {
        margin-right: 1rem;
      }
    }
  }

  .flag {
    cursor: pointer;
    width: 1.75rem;
    height: 1.75rem;
  }
}

.main {
  padding: 2rem 1rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .welcomeMessage {
    .title {
      font-size: 1.5rem;
      margin-top: 2rem;
    }
  }

  .profileCtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .profileName {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 1rem;
    }

    h1 {
      font-size: 1.25rem;
      font-weight: bold;
      margin: 0 1rem 0 0;
    }

    a {
      width: 1.25rem;
      height: 1.25rem;
      margin-left: 0.5rem;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}


.blueSeparator {
  height: 2px;
  width: 66%;
  margin: 2.5rem auto;
  background: var(--deep-blue);
}

.achievements {
  .achievementsGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem 0;

    .gridItem {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 1rem;
      padding: 3rem 1.5rem;
      overflow: hidden;
      aspect-ratio: 16/9;
      height: auto;
      transition: transform 0.3s ease;
      cursor: pointer;

      &:hover {
        transform: scale(1.02);
      }

      .illustration {
        z-index: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-position: center;
        background-size: cover;
      }

      .title {
        font-weight: bold;
        font-size: 1.375rem;
        color: white;
        z-index: 1;
        text-shadow: 0 0 1px black;
        text-align: center;
        line-height: 1.25;
        margin-bottom: 0.25rem;
      }

      .description {
        z-index: 1;
        color: white;
        text-shadow: 0 0 1px black;
        text-align: center;
      }
    }
  }
}

.skills {
  .skillsGrid {
    padding: 0 6vw;
    max-width: 688px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem 2.5rem;

    .gridItem {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.contactMe {
  .contactMeForm {
    margin: 1rem auto 0;
    max-width: 500px;
    width: 100%;

    .formField {
      display: flex;

      flex-direction: column;
      &:not(:first-child) {
        margin-top: 0.75rem;
      }

      label {
        margin-bottom: 0.25rem;
        font-weight: 300;
      }

      input, textarea {
        border: 1px solid #00000022;
        outline: none;
        padding: 0.625rem 1rem;
        border-radius: 0.5rem;
        color: var(--black);
        background: var(--bg-foreground);
        font-size: 1rem;

        &::placeholder {
          color: #696969;
        }
      }

      textarea {
        resize: vertical;
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      border: none;
      width: 100%;
      border-radius: 0.5rem;
      background-color: var(--deep-blue);
      transition: background 0.3s ease;
      padding: 0.75rem 0;
      cursor: pointer;
      margin-top: 1.25rem;

      p {
        color: white;
      }

      &:hover {
        background: #1b8afd;
      }

      &:active {
        background: #026edf;
      }
    }
  }
}

.usefulLinks {

  .usefulLinksCardCtn {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem 0;

    .usefulLinksCard {
      background: var(--bg-foreground);
      border-radius: 1rem;
      padding: 1.5rem 1rem;

      .cardTitle {
        font-size: 1.125rem;
        font-weight: 600;
      }

      .cardDescription {
        margin: 1rem 0;
        color: var(--card-description);
      }

      .download {
        margin-right: 0.5rem;
        font-weight: bold;
      }

      .downloadBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--deep-blue);
        padding: 0.375rem 1rem;
        color: var(--deep-blue);
        border-radius: 4rem;
        font-size: 0.875rem;
        line-height: 1.25;
        margin-left: 0.75rem;
        cursor: pointer;

        &:hover {
          background: var(--deep-blue);
          color: white;

          svg {
            path {
              fill: white;
            }
          }
        }
      }
    }
  }
}

.footer {
  width: 100%;
  border-top: 1px solid var(--header-border);

  .outer {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .copyright {
      color: var(--header-border);
    }

    .socialNetworks {
      display: flex;
      flex-direction: row;

      a {
        width: 1.25rem;
        height: 1.25rem;
        margin-left: 0.5rem;

        &:first-child {
          margin-left: 0;
        }
      }
      svg {
        path {
          fill: var(--header-border);
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .achievements {
    .achievementsGrid {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
    }
  }
  .skills {
    .skillsGrid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (min-width: 768px) {
  section {
    &:not(.hero) {
      margin-bottom: 4.5rem;
    }

    .title {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 2rem;
    }

    .content {
      font-size: 1.25rem;
    }
  }
  .header {
    .inner {
      padding: 1rem;
    }
  }
  .main {
    padding: 7rem 1rem;
  }
  .hero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    .welcomeMessage {
      max-width: 510px;

      .title {
        font-size: 2.25rem;
        margin-top: 0;
      }

      .content {
        font-size: 1.5rem;
      }
    }

    .profileCtn {
      padding-right: 10%;
    }
  }
  .blueSeparator {
    height: 2px;
    margin: 7rem auto;
    background: var(--deep-blue);
  }
  .achievements {
    .achievementsGrid {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1.75rem 2.25rem;

      .gridItem {

        .title {
          font-size: 1.5rem;
        }
      }
    }
  }

  .skills {
    .skillsGrid {
      padding: 0;
      grid-template-columns: repeat(5, 1fr);
    }
  }

  .contactMe {
    .contactMeForm {
      margin: 1.5rem auto 0;

      button {
        padding: 0.75rem 0;
        max-width: 180px;
      }
    }
  }

  .usefulLinks {

    .usefulLinksCardCtn {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0 1.5rem;

      .usefulLinksCard {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2.5rem;

        .cardTitle {
          font-size: 1.5rem;
        }

        .cardDescription {
          margin: 1.5rem 0;
        }

        .downloadBtn {
          font-size: 1rem;
          margin-left: 0.875rem;
        }
      }
    }
  }
}
